.App {
    background-color: #334155;
}
.song {
    background-color: #334155;
    height: calc(100vh - 100px - 100px);
    /* overflow: hidden; */
}
::selection {
    background-color: transparent;
    color: turquoise;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }